<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">

<title>The hipster quiz question</title>
	

</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12"><h4></h4></div>
	<div class="col-md-2 image1"></div>
	<div class="col-md-8 middle">
<form action="{% url "answer_page" quiz.quiz_number question_number %}" method="post">{% csrf_token %}
  <h1>{{ question_number }}. {{ question }}</h1>
	<p style="margin-top:40px;"><input type="radio" name="answer" value="answer1" checked> {{ answer1 }}</p><br>
	<p> <input type="radio" name= "answer" value="answer2"> {{ answer2 }}</p><br>
	<p><input type="radio" name="answer" value="answer3"> {{ answer3 }}</p><br>
	<p style="margin-top:40px;"><a href="{% url 'completed_page' quiz_number %}" class="button">OK!</a></p> 

</form>
	
	<br>
	</div>


	<div class="col-md-2 image2"></div>
	<div class="col-md-12"><h4>Johanna Björnholm 2016 @tjejerkodar</h4></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
</body>