<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">

<title>Johannas Björnholms quiz question</title>
	

</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12"><h4>Johanna Björnholm</h4></div>
	<div class="col-md-3 image1"></div>
	<div class="col-md-6 middle"><h1>First question</h1><br>
	<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h2>
<form action="file:///Users/jobjo/Desktop/QUIZ%20TEMPLATES/quiz-templates/results.html">
 <h2> <input type="radio" value="answer1"> Answer 1</h2>
   <h2> <input type="radio" value="answer2"> Answer 2</h2>
     <h2> <input type="radio" value="answer3"> Answer 3</h2>

  <br><br>
  <h1>{{ question_number }}. {{ question }}</h1>
	<p>{{ answer1 }}</p>
	<p>{{ answer2 }}</p>
	<p>{{ answer3 }}</p>
	<p><a href="{% url 'completed_page' quiz_number %}" class="button">ok!</a></p> 

</form>
	
	<br>
	</div>


	<div class="col-md-3 image2"></div>
	<div class="col-md-12"><h4>@tjejerkodar</h4></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
</body>