<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">

<title>Johannas Björnholms quiz start</title>
	

</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12"><h4>Johanna Björnholm</h4></div>
	<div class="col-md-3 image1"></div>
	<div class="col-md-6 middle"><h1>You chose Lorem Ipsum!</h1><br>
	You chose the best quiz! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere gravida tincidunt. Suspendisse imperdiet blandit dolor vel porttitor. Vestibulum tempus leo et eros faucibus, ac vulputate lorem dignissim. Donec lacinia arcu in efficitur rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. ahdjk ashd ahjksad hjksd sakhj ufidks fil kfjlk fdjklds kldfs dfskl <br>
	<br>
	click on the link below to get started!<br><br>
	<h1>{{ quiz.name }}</h1>
	<p>{{ quiz.description }}</p>
	<p><a href="{% url 'question_page' quiz_number 1 %}">Starta</a></p>

	<a href="file:///Users/jobjo/Desktop/QUIZ%20TEMPLATES/quiz-templates/question.html">start quiz!</a><br>
	
	<br>
	</div>


	<div class="col-md-3 image2"></div>
	<div class="col-md-12"><h4>@tjejerkodar</h4></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
</body>