body { 
background: #000000; 
font: 12pt/1.4 "Helvetica Neue", "Helvetica", serif; } 

h1 
{ 	color: #ffffff; 
	font: 24pt/1.4 "Lucida Console"; 
	text-align: center; 
	text-transform: uppercase; 
	font-weight: bold; 
	background-color: #000000;} 
a 
{ color: #000000; 
	font-weight: bold; 
	background-color: #ffffff;  
	} 

p
{ color: #ffffff;
	display: inline-block;
 }


ul
{ 
background: #ffffff; 
font: 12pt/1.4 "Lucida Console", serif; 
margin: 0 auto; }

h2
{ color: #ffffff; 
	font: 12pt/1 "Lucida Console"; 
	font-weight: bold; 
	}

	h3
{ color: #ffffff; 
	font: 11pt/1 "Lucida Console"; 
	font-weight: normal;
	text-align: center;  }

		h4
{ color: #ffffff; 
	font: 18pt/1 "Lucida Console"; 
	font-weight: bold;
	background-size: 70px;
	text-align: center; 
	vertical-align: middle; 
	padding-top: 20px;
	min-height: 65px;
}


.image1
{
	align-content: center;
	background: url("/static/large.png");
	height: 100%;
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: right;
}

.image2
{
	align-content: center;
	background: url("/static/coffee2.jpg" );
	height: 100%;
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: left;


}
.middle
{
	align-content: center;
	background: url("/static/bgpic.jpg");
	background-size: 1000px;
	min-height: 600px;


}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 4px solid #fdff4c;

}
.button:hover {
    background-color: #fdff4c; /* light pink */
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration: none; 
    font-weight: bold;

}


